h1,
h2,
h3,
h4,
h5 {
  color: #363958;
}

.all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4bc46;
  width: 170px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.all-button img {
  padding-right: 5px;
  width: 24px;
}
.footer-area {
  background-color: #192a56;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  margin: 0;
  padding: 0;
  color: #a4bc46;
  padding-top: 10px;
}
.copyright {
  margin: 0;
  margin-top: 10px;
  color: #dcdde1;
  text-align: center;
  line-height: 1.5;
}
